@import url(https://fonts.googleapis.com/css?family=Lora:700,700italic&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext);
@import '_reset';
$accentColor: #1a64b9;
$bgGradientStriped: repeating-linear-gradient(45deg, transparent, transparent 3px, #ddd 3px, #ddd 4px);
$borderStyle: 1px solid #eee;
$cardBgColor: #fff;
$fontSerif: lora, 'book antiqua', 'times new roman', serif;
$fontSansSerif: 'roboto condensed', 'helvetica neue', helvetica, sans-serif;
$mainBlockWidth: 80%;
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:focus {
        background-color: rgba(0, 0, 50, .2);
        outline: 5px solid rgba(0, 0, 50, .2);
        outline-radius: 10px;
    }
    &:active {
        background-color: none;
        outline: none;
    }
}
h1 {
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.8em;
}
h2 {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3em;
}
html {
    background-color: #ffe1ad;
    color: #222;
    font: normal 11pt/1.1em $fontSerif;
}
input[type="radio"]::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 3px;
    transition: all 0.2s ease-in;
}
input[type="radio"]:checked::before {
    background-color: black;
    box-shadow: inset 0 0 0 1px white;
}
.postType {
    display: block;
    color: #999;
    border-top: 2px solid #999;
    font-family: $fontSansSerif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 7px;
}
.profilePicture {
    border-radius: 50%;
    transition: transform 0.2s ease-out;
}
#mainHeader {
    background-color: $cardBgColor;
    border-bottom: $borderStyle;
    font-family: $fontSansSerif;
    #addNew,
    #logo {
        display: inline-block;
    }
    #logo {
        font-size: 25pt;
        line-height: 1em;
        font-weight: bold;
        text-transform: uppercase;
        a {
            color: #333;
            &,
            &:focus,
            &:hover {
                text-decoration: none;
            }
        }
    }
    #addNew {
        width: 30px;
        height: 30px;
        color: white;
        background-color: #33f;
        border-radius: 50%;
        font-size: 15pt;
        line-height: 0;
        text-align: center;
        vertical-align: top;
        margin: 0 20px;
    }
    & > div {
        width: $mainBlockWidth * 0.8;
        margin: 0 auto;
        padding: 25px 0 15px;
        & > div {
            width: 100%;
        }
        .search {
            #showBox,
            #sortBox {
                display: inline-flex;
                padding: 15px 0;
            }
            #sortBox {
                width: 25%;
                color: #888;
                font-size: 0.9em;
                font-family: $fontSerif;
                font-style: italic;
                letter-spacing: 0.5px;
                * {
                    display: inline;
                }
                a {
                    color: $accentColor;
                    font-family: $fontSansSerif;
                    font-style: normal;
                    text-decoration: none;
                    padding: 0 5px;
                }
                li:last-child::before {
                    content: 'or ';
                }
            }
            #showBox {
                width: 74%;
                text-align: right;
            }
            #searchBox {}
            input:not([type="radio"]) {
                display: inline-block;
                border: 1px solid #ccc;
                font-size: 1.2em;
                padding: 10px 15px;
                box-sizing: border-box;
                &[type="search"] {
                    width: 74%;
                    background-color: #f7f7f7;
                }
                &[type="submit"] {
                    width: 25%;
                    color: #999;
                    background-color: white;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            label {
                margin-right: 20px;
            }
            label:last-child {
                margin: 0;
            }
        }
    }
}
#main {
    width: $mainBlockWidth;
    background-color: $cardBgColor;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: content-box;
    .card {
        width: 80%;
        display: flex;
        border: $borderStyle;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .1);
        padding-bottom: 60px;
        margin: 0 auto;
        &.moreItems {
            padding: 0;
            a {
                display: block;
                color: #a00;
                font: bold 1.4em/1em $fontSansSerif;
                text-decoration: none;
                text-transform: lowercase;
                padding: 40px 20px;
            }
        }
        & > div {
            width: 80%;
        }
        & > aside {
            width: 20%;
            align-self: flex-end;
            color: #666;
            font-style: italic;
            padding-left: 30px;
            em {
                font-style: normal;
                padding-right: 3px;
            }
            li {
                padding: 20px 0;
            }
        }
    }
    .question {
        a {
            color: $accentColor;
            text-decoration: none;
        }
        img[src^="assets/res/images/avatars/"] {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding: 20px;
        }
        ul,
        ul > li {
            list-style-type: none;
        }
        header {
            display: flex;
            align-items: center;
            background-color: #dff3fd;
            hgroup {
                padding: 35px;
                h1 {
                    font-style: italic;
                }
                h2 {
                    color: #888;
                    font-family: $fontSansSerif;
                    text-transform: uppercase;
                    a {
                        font-size: 1.25em;
                        text-transform: none;
                    }
                }
            }
        }
        .activities {
            padding: 20px 0 0 20px;
            li {
                width: 90px;
                height: 100%;
                display: inline-block;
                background-color: #eee;
                padding: 15px;
                margin: 5px;
                position: relative;
                &::after {
                    content: "";
                    width: 12px;
                    height: 12px;
                    display: block;
                    background-color: #aaa;
                    border-radius: 50%;
                    margin-left: -6px;
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                }
                &.answered {
                    &::after {
                        background-color: #444;
                    }
                    .postType {
                        border-color: #444;
                    }
                }
                &.moreItems {
                    background-color: white;
                    font: bold italic inherit/inherit $fontSerif;
                    font-style: italic;
                    text-align: center;
                    &::after {
                        display: none;
                    }
                    em {
                        display: block;
                        margin: 15px 0 60px;
                    }
                }
                img {
                    display: block;
                    margin: 15px auto 60px;
                }
            }
        }
    }
    #profile,
    #profileHeader {
        text-align: center;
    }
    #profileHeader {
        border-bottom: $borderStyle;
        font-family: $fontSansSerif;
        padding: 20px 0;
        h1 {
            color: $accentColor;
        }
        img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
        }
        ul > li {
            width: 33%;
            display: inline-flex;
            justify-content: center;
            span {
                color: #aaa;
                text-transform: uppercase;
                padding-right: 5px;
            }
        }
    }
    #profile > header h2,
    aside > article > header > h1 {
        color: #aaa;
        font: 0.95em/1em $fontSansSerif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    #profile {
        & > header {
            h1 {
                font-size: 2.5em;
                font-style: italic;
            }
            nav {
                li {
                    width: 30px;
                    height: 30px;
                    background-color: $accentColor;
                    border-radius: 50%;
                    font-size: 10pt;
                    line-height: 0;
                    text-align: center;
                    margin: 0 20px;
                    a {
                        color: white;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        #summary {
            ul {
                height: 142px;
                /* ~100*sqrt(2) */
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                li {
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    margin: 0 6px;
                    position: relative;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-color: #dff3fd;
                        position: absolute;
                        z-index: -1;
                    }
                    &:nth-child(2n) {
                        transform: rotate(0); // For some reason the 'before' pseudo doesnt want to show up at all w/o it
                        &::before {
                            content: '';
                            display: block;
                            transform: rotate(-10deg);
                        }
                    }
                    &:nth-child(2n+1) {
                        transform: rotate(0);
                        &::before {
                            content: '';
                            display: block;
                            transform: rotate(-45deg);
                        }
                    }
                    em {
                        display: block;
                        font: bold 2em/2em $fontSansSerif;
                    }
                }
            }
        }
        aside {
            h1 {}
            article {
                margin: 20px 0;
                padding: 40px 0;
            }
            #joined {
                li {
                    width: 160px;
                    display: inline-block;
                    margin: 10px;
                    a {
                        display: block;
                        color: $accentColor;
                        font: 0.8em/1em $fontSansSerif;
                        div {
                            background-image: $bgGradientStriped;
                            padding: 20px;
                        }
                        img {
                            width: 70px;
                            height: 70px;
                        }
                        &:hover {
                            img {
                                transform: scale(1.1);
                                // position: relative;
                                // z-index: 99;
                            }
                        }
                        img {}
                    }
                }
            }
            #hot {
                margin: 0 -30px;
                article {
                    background: #fefefe $bgGradientStriped;
                    margin-top: 50px;
                    // position: relative;
                    header {
                        a {
                            color: $accentColor;
                        }
                        h1 {
                            font-style: italic;
                        }
                        h2 {
                            font-family: $fontSansSerif;
                        }
                    }
                    footer {
                        padding-top: 20px;
                        li {
                            display: inline-block;
                            margin-right: 20px;
                            em {
                                font-size: 1.2em;
                                padding-right: 5px;
                            }
                        }
                    }
                    .profilePicture {
                        width: 70px;
                        height: 70px;
                        // position: absolute;
                        // top: -35px;
                        margin-top: -55px;
                    }
                }
            }
        }
    }
}
